################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/tsUnit/v14/.suo
/.vs/config/applicationhost.config
/tsUnit/bin
/tsUnit/obj/Release
/tsUnit.Examples/bin
/tsUnit.Examples/obj/Debug
/tsUnit.External.Packager/bin/Debug
/tsUnit.External.Packager/obj/Debug
/tsUnit.Packager/bin/Debug
/tsUnit.Packager/obj/Debug
/tsUnit/Scripts/tsUnit/Tests.js
/tsUnit/Scripts/tsUnit/BadTests.js
/tsUnit/app.js
/tsUnit/tsUnit.csproj.user
/packages
/tsUnit.Examples/Scripts/tsUnit/tsUnit.js.map
/tsUnit.Examples/Scripts/tsUnit/tsUnit.js
/tsUnit.Examples/tsUnit.Examples.csproj.user
/tsUnit.Examples/Scripts/FizzBuzzTests.js.map
/tsUnit.Examples/Scripts/FizzBuzzTests.js
/tsUnit.Examples/Scripts/FizzBuzzParameterisedTests.js.map
/tsUnit.Examples/Scripts/FizzBuzzParameterisedTests.js
/tsUnit.Examples/Scripts/FizzBuzz.js.map
/tsUnit.Examples/Scripts/FizzBuzz.js
/tsUnit.Examples/app.js.map
/tsUnit.Examples/app.js
/tsUnit.External.Packager/NuGet.log
/tsUnit.External.Packager/tsUnit.External.Packager.csproj.user

/tsUnit.Packager/tsUnit.Packager.csproj.user
/tsUnit.Packager/NuGet.log
/.vs/tsUnit
/tsUnit.Examples/obj/Release
/tsUnit.Node.Examples/obj
/tsUnit.Packager/obj/Release
/tsUnit.Packager/*.nupkg
/tsUnit.Packager/*.bak
/tsUnit/obj/Debug
